* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: rgb(0, 172, 30);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-caption {
  color: white;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
}

main {
  margin: 0 auto;
  height: calc(100vh - 60px);
  width: 90%;
  max-width: 800px;
  border-left: 10px solid rgb(0, 172, 30);
  border-right: 10px solid rgb(0, 172, 30);
  position: relative;
}
